html
    head
        include pure.pug
        style
            include navBar.css
    body
        include navBar.pug
        h1 User List
        each obj in users
            div Username: #{obj.username}
            div First Name: #{obj.firstName}
            div Last Name: #{obj.lastName}
            div Email: #{obj.email}
            div Age: #{obj.age}
            div User Id: #{obj.userId}
            div Account created: #{obj.timeCreated}
            div
                a(href="/userList/"+obj.userId) Edit User
            div
                a(href="/deleteUser/"+obj.username+"/"+obj.userId) Delete User
            br
            br
            br
        div End of user list