html
    body
        each obj in users
            div Username: #{obj.username}
            div First Name: #{obj.firstName}
            div Last Name: #{obj.lastName}
            div Email: #{obj.email}
            div Age: #{obj.age}
            div Account created: #{obj.timeCreated}
            br
            br
        div End of user list