html
    head
        include pure.pug
        include fonts.pug
        style
            include css/navBar.css
            include css/usersList.css
            include css/text.css
            include css/headers.css
    body
        include navBar.pug
        h2 User List
        if users.length !== 0
            table(class="pure-table pure-table-bordered", id="user-list-table")
                thead
                    tr
                        th Username
                        th First Name
                        th Last Name
                        th Email
                        th Age
                        th Account Created
                        th Edit User
                        th Delete User
                tbody
                    each obj in users
                        tr
                            td= obj.username
                            td= obj.firstName
                            td= obj.lastName
                            td= obj.email
                            td= obj.age
                            td= obj.timeCreated
                            td
                                a.anchor(href="/userList/"+obj.userId, class="pure-button") Edit User
                            td
                                a.anchor(href="/deleteUser/"+obj.userId, class="pure-button") Delete User
        else
            div#message There are no users saved